.about{
  
    display: flex;
   align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 100px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.about__content{
    display: flex;
    flex-direction: column;
    height: 400px;
    gap: 1rem;
    width: 40%;
   
}
.about__container{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.about__js{
    border: 1px solid white;
    height: 300px;
    padding: 30px;
}
.Ptag{
    margin-top: 30px;
}
.about__title{
    font-size: 32px;
    color: var(--clr-light);
}
.about__description{
    
    font-size: 20px;
    color: var(--clr-light);
   
}
@media (max-width:1024px) {
    .about__content{
        width: 100%;
    }
    .about{
        margin-top: 100px;
       gap: 0rem;
    }
}
