.more{
    text-align: center;
}
.more__title{
    font-size: var(--size-6xl);
}
.more__contact{
    background-color: var(--clr-teal500);
    margin-top: 30px;
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    font-size: var(--size-xl);
}