.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.pricing__container {
    color: white;
    border-radius: 20px;
    width: 30%;
    height: 30rem;
    
    background-color: white;
    box-shadow: 10px 10px 10px var(--clr-cyan400);
}

.pricing__title{
    padding: 20px;
    color: black;
    font-size: var(--size-3xl);
}
.pricing__txt{
    color: black;
    font-size: var(--size-xl);
    margin-bottom: 20px;
    font-weight: 500;
}
.pricing__option{
    text-align: center;
}
@media (max-width:1280px) {
    .pricing__container{
        width: 40%;
    }

}
@media (max-width:768px) {
    .pricing__container{
        width: 80%;
        height: 20rem;
    }
    .pricing__title{
        font-size: var(--size-2xl);
    }
    .pricing__txt{
        font-size: var(--size-xl);
    }
}
@media (max-width:640px) {
    .pricing__title{
        font-size: var(--size-lg);
    }
    .pricing__txt{
        font-size: var(--size-sm);
    }
}